.success-failed-chart{data: { success_failed: @session_history_view_object.success_failed_per_day.to_json } }

.duration-to-worker-time-chart{data: { duration_worker_time: @session_history_view_object.duration_to_created_at.to_json } }

.abnormal-failed-chart{data: { abnormal_failed: @session_history_view_object.abnormal_failed_days.to_json } }
